@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
  font-size: 18px;
  font-weight: 400;
}

body {
  background-color: #202020;
  color: #c5c5c5;
  
}

a {
  text-decoration: none;
  color: #21A049;
}


/* Шрифты */

.name-font {
  font-family: "Rubik", serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 5px;
  color: #fff;
}

.prof-font {
  font-family: "Rubik", serif;
  font-weight: 500;
  font-size: 24px;
  color: #c5c5c5;
}

.section-title {
  font-family: "Rubik", serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}
.element-title {
  font-family: "Rubik", serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 5px;
  color: #fff;
}

.default-font {
  font-family: "Rubik", serif;
  font-weight: 400;
  font-size: 18px;
  color: #c5c5c5;
  margin-bottom: 5px;
  a {
    text-decoration: underline;
  }
}

.accent-font {
  font-family: "Rubik", serif;
  font-weight: 400;
  font-size: 18px;
  color: #21A049;
  margin-bottom: 5px;
}

.nav-link {
  display: inline;
  height: 100%;
  width: 400px;
	max-width: 100%;
  background-color: #303030;
  border-radius: 15px;
	transition: 200ms ease;
}
.nav-link:hover{
		background-color: #272727;
	}
